[defaults]
callbacks_enabled=ansible.posix.profile_tasks
nocows=1
inventory=inventory.yml
# Stop python interpreter warning from coming up at the start of every run
# python3 because not every OS has /usr/bin/python symlinked to python3
interpreter_python=/usr/bin/python3

vault_password_file=vault-key

[ssh_connection]
# Optimise SSH multiplexing
ssh_args = -o ControlMaster=auto -o controlPersist=3600s -o PreferredAuthentications=publickey
control_path = %(directory)s/ssh-%%C
pipelining = True
