# vim: et
---

- name: Create systemd-logind drop-in directory
  become: true
  ansible.builtin.file:
    state: directory
    path: /etc/systemd/logind.conf.d
    owner: root
    group: root
    mode: '0755'
  tags:
    - suspend

- name: Deliver systemd-logind drop-in file for suspend
  become: true
  ansible.builtin.template:
    src: suspend.conf.j2
    dest: /etc/systemd/logind.conf.d/suspend.conf
    owner: root
    group: root
    mode: '0644'
  tags:
    - suspend

- name: Enable systemd-logind.service
  become: true
  ansible.builtin.systemd_service:
    name: systemd-logind
    state: started
    enabled: true
    daemon_reload: true
  tags:
    - suspend
