# vim: et
---

- name: Include platform-specific variables
  ansible.builtin.include_tasks: include_platform_specific_vars.yml

- name: Install desktop packages
  become: true
  ansible.builtin.import_tasks: install_desktop_packages.yml

- name: Install distro-specific desktop packages
  ansible.builtin.import_tasks: enable_sysrq_keys.yml

- name: Setup yakuake
  ansible.builtin.import_tasks: autostart_yakuake.yml
  tags:
    - yakuake
