[Rcon]
bEnabled=True
Password={{ inssserver_game_ini_rcon_password }}
ListenPort={{ inssserver_game_ini_rcon_listenport }}

[/Script/Insurgency.INSGameMode]
bKillFeed=False
bKillFeedSpectator=True
bKillerInfo=True
bKillerInfoRevealDistance=True
TeamKillLimit=3
TeamKillGrace=0.2
TeamKillReduceTime=60
bDeadSay=True
bDeadSayTeam=True

[/Script/Insurgency.INSMultiplayerMode]
InitialSupply=35
bSupplyGainEnabled=True
bAwardSupplyInstantly=True

[/Script/Insurgency.INSCoopMode]
InitialSupply=40
AIDifficulty=0.65
MinimumEnemies=8
MaximumEnemies=15
bBots=True
FriendlyBotQuota=6
SoloWaves=5
SoloReinforcementTime=20
SoloWaveIncrementOnObjectiveCapture=1
SoloEnemies=15
AlarmDuration=30

[/Script/Insurgency.INSCheckpointGameMode]
DefendTimer=75
DefendTimerFinal=150
RoundTime=720
ObjectiveTotalEnemyRespawnMultiplierMin=0
ObjectiveTotalEnemyRespawnMultiplierMax=0
RespawnDPR=0.25
CounterAttackRespawnDPR=0.9

[/Script/Insurgency.TeamInfo]
bVotingEnabled=True

[/Script/AIModule.AISystem]
bAllowStrafind=True
bAcceptPartialPaths=True

[/Script/AIModule.AIPerceptionComponent]
PeripheralVisionAngle=200

[/Script/Insurgency.Mutator_Vampirism]
bCountFriendlyFire=False

[/Script/Insurgency.Mutator_HeadshotOnly]
bCheckMeleeDamage=false

[/Script/Insurgency.Mutator_HotPotato]
bIgnoreHeadshots=true
bBotsOnly=false
