# vim: et
---

- name: Include platform-specific variables
  ansible.builtin.include_tasks: include_platform_specific_vars.yml
  tags:
    - graphics

# To get non-free Intel graphics drivers
- name: Setup RPM Fusion
  ansible.builtin.include_role:
    name: rpm_fusion
  when: ansible_facts['os_family'] in ['RedHat', 'Nobara']
  tags:
    - graphics

# See also: https://github.com/LukeShortCloud/ansible_role_gpu_driver
- name: Install Intel graphics drivers
  ansible.builtin.include_tasks: "install_intel_graphics_drivers_packages.yml"
  when: "'intelhosts' in group_names"
  tags:
    - graphics

- name: Allow sudo-less Intel monitoring
  ansible.builtin.include_tasks: create_intel_monitoring_sudoers_template.yml
  when: "'intelhosts' in group_names"
  tags:
    - graphics
