
PIHOLE_INTERFACE=eth0
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSMASQ_LISTENING=local
WEBPASSWORD=823b5a68b570f50c9a862b46e3c7ca8804c8c297c95157540bda1805f36f06b0
BLOCKING_ENABLED=true
DNSSEC=true
REV_SERVER=true
REV_SERVER_CIDR={{ network_cidr }}
REV_SERVER_TARGET={{ dhcp_router }}
REV_SERVER_DOMAIN=
PIHOLE_DNS_1={{ upstream_dns_1 }}
PIHOLE_DNS_2={{ upstream_dns_2 }}
DHCP_ACTIVE={{ dhcp_active }}
DHCP_START={{ dhcp_range_start }}
DHCP_END={{ dhcp_range_end }}
DHCP_ROUTER={{ dhcp_router }}
DHCP_LEASETIME=24
PIHOLE_DOMAIN={{ default_domain }}
DHCP_IPv6=false
DHCP_rapid_commit=false
