# vim: et
---

- name: Install common packages
  become: true
  ansible.builtin.package:
    name: "{{ common_packages + common_packages_platform_specific }}"
    state: present

- name: Install common graphical packages
  become: true
  ansible.builtin.package:
    name: "{{ common_graphical_packages }}"
    state: present
  when: "'graphical_hosts' in group_names"
