# vim: et
---

- name: Include platform-specific variables
  ansible.builtin.include_tasks: include_platform_specific_vars.yml

- name: Install common packages
  ansible.builtin.import_tasks: install_common_packages.yml
  tags:
    - install_packages

- name: Install VimPlug
  ansible.builtin.import_tasks: install_vimplug.yml
  tags:
    - vimplug

- name: Install dotfiles
  ansible.builtin.import_tasks: install_dotfiles.yml
  tags:
    - dotfiles

- name: Customise powerline
  ansible.builtin.import_tasks: customise_powerline.yml
  tags:
    - powerline

- name: Customise bat
  ansible.builtin.import_tasks: customise_bat.yml
  tags:
    - bat

- name: Customise ncdu
  ansible.builtin.import_tasks: customise_ncdu.yml
  tags:
    - ncdu

- name: Apply umask
  ansible.builtin.import_tasks: apply_umask.yml
