# vim: et
---

# Installs the nvidia-container-toolkit package as described in
# https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/latest/install-guide.html#installing-with-apt
# Feels a bit hacky right now, would be nice if it were fewer steps

- name: Configure GPG key
  ansible.builtin.get_url:
    url: https://nvidia.github.io/libnvidia-container/gpgkey
    dest: /tmp/nvidia-container-toolkit-keyring.asc
  register: new_key

# Need to have the dearmor part, and gpg prompts for y/N to overwrite
# So can't just use apt_key or just a gpg command by itself
# Maybe a better approach would to be use expect to look for the specific
# overwrite prompt
- name: Install GPG key
  become: true
  become_user: root
  ansible.builtin.command:
    cmd: "gpg --dearmor -o {{ nvidia_graphics_drivers_container_toolkit_key }} /tmp/nvidia-container-toolkit-keyring.asc"
    stdin: y
    creates: "{{ nvidia_graphics_drivers_container_toolkit_key }}"
  when: new_key.changed

# It needs to be world-readable for apt to read it
- name: Set permission on GPG key
  become: true
  become_user: root
  ansible.builtin.file:
    path: "{{ nvidia_graphics_drivers_container_toolkit_key }}"
    owner: root
    group: root
    mode: '0644'

- name: Add repo to apt sources
  become: true
  become_user: root
  ansible.builtin.apt_repository:
    repo: "deb [signed-by={{ nvidia_graphics_drivers_container_toolkit_key }}] https://nvidia.github.io/libnvidia-container/stable/deb/$(ARCH) /"
    state: present
    filename: nvidia-container-toolkit
    mode: '0644'

- name: Install Nvidia container toolkit
  become: true
  become_user: root
  ansible.builtin.package:
    name:
      - "nvidia-container-toolkit"
    state: present
    update_cache: true
