# vim: et
---

- name: Include platform-specific variables
  ansible.builtin.include_tasks: include_platform_specific_vars.yml

- name: Install LaTeX packages
  ansible.builtin.import_tasks: install_latex_packages.yml
