# Sudoers file for monitoring

{{ main_username }} ALL=(ALL:ALL) NOPASSWD: /usr/bin/iotop
{{ main_username }} ALL=(ALL:ALL) NOPASSWD: /usr/bin/nethogs
{{ main_username }} ALL=(ALL:ALL) NOPASSWD: /usr/bin/s-tui
