# Sudoers file for monitoring

{{ main_username }} ALL=(ALL:ALL) NOPASSWD: /usr/bin/iotop
{{ main_username }} ALL=(ALL:ALL) NOPASSWD: /usr/bin/nethogs
{{ main_username }} ALL=(ALL:ALL) NOPASSWD: /usr/bin/s-tui

# TODO: Would be nice to optionally include nvidia-smi, radeontop, intel_gpu_top if they exist
# Or maybe do them in the respective graphics drivers roles?
